apiVersion: v1
kind: Service
metadata:
  name: {{ include "workflow-engine.fullname" . }}
  labels: {{- include "workflow-engine.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "workflow-engine.selectorLabels" . | nindent 4 }}
